body{
  margin: 0;
  padding: 0;
  background-color: #e9eaed;
  font-family: Lucida Grande;
}

#barra{
  height: 43px;
  background-color: #5066ae;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#contingut{
  height: 1820px;
  width: 852px;
  background-color: grey;
  margin: 0 auto;
}

#contingut #cap{
  height: 358px;
  width: 100%;
  background-image: url(../img/fotofondo.jpg);
  background-repeat: no-repeat;
  border-radius: 3px solid #DDD;
  margin-bottom: 12px;
}

#contingut #cap img{
  position: relative;
  top: 170px;
  left: 16px;
  border-radius: 50%;
  border: solid white 4px;
  box-shadow: 2px 2px 2px #666;
}

#contingut #cap h2{
  margin: 0;
  padding: 0;
  position: relative;
  top: 55px;
  left: 200px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

#contingut #cap #menu{
  height: 45px;
  background-color: lightgrey;
  width: 651px;
  float: right;
  position: relative;
  top: 104px;
  padding: 0;
  margin: 0;
}

#contingut #cap #menu li{
  float: left;
  margin: 0 1px;
  list-style: none;
  background-color: white;
  display: block;
  height: 45px;
  padding: 0 20px;
  line-height: 43px;
  color:#5066ae;
}



#contingut #cap #menu li:hover{
  background-color: rgb(240,240,240);
}

.esquerra{
  height: 200px;
  width: 322px;
  background-color: white;
  border-radius: 3px;
  border: solid 1px #DDD;
  margin-top: 12px;

}

#presentacion{
  
}
